{% extends "base.html" %}

{% block titolo %}
{% if giornata %}
<a type="button" style="width: 15rem;" class="btn btn-success my-2 mx-2" href="{{ url_for("nuovo_decollo") }}">Aggiungi Decollo</a>
<!--
<a type="button" style="width: 15rem;" href="/download/{{ data }}" class="center btn btn-primary mx-2">Download Giornata</a>
-->
{% else %}
<a type="button" style="width: 15rem;" class="btn btn-success my-2 mx-2" href="{{ url_for("crea_giornata") }}">Avvia Giornata</a>
{% endif %}
<h1 class="text-center my-2">Gestione Manifest del {{ data[8:10] }}/{{ data[5:7] }}/{{ data[0:4] }}</h1>
{% endblock %}

{% block content %}
	<div class="container-xxl my-5">
		<div class="row">
			{% for decollo in decoded_decolli %}
			{% if decollo["stato"] == "fatto" %}
			<div class="card border-dark mb-3 mx-2" style="width: 20rem;">
			  <div class="card-body">
				<div class="btn-group" role="group" aria-label="Button group">
				{% if decollo["num_decollo"] > 1 %}
				<a type="button" href="/gestione/modifica-decollo/anticipa/{{ decollo["id"] }}" class="btn btn-outline-primary btn-sm"><span class="material-symbols-outlined">arrow_back</span></a>
				{% endif %}
				{% if decollo["num_decollo"] != num_decolli %}
				<a type="button" href="/gestione/modifica-decollo/posticipa/{{ decollo["id"] }}" class="btn btn-outline-primary btn-sm"><span class="material-symbols-outlined">arrow_forward</span></a>
				{% endif %}
				<a type="button" href="/gestione/modifica-decollo/rifornimento/{{ decollo["id"] }}" class="btn btn-outline-warning btn-sm"><span class="material-symbols-outlined">local_gas_station</span></a>
				<div class="btn-group" role="group">
						<a id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Avanzate
						</a>
						<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
						<li><a type="button" href="/gestione/modifica-decollo/start/{{ decollo["num_decollo"] }}" class="btn btn-outline-warning btn-sm my-1 mx-2" style="width: 8rem">Ricomincia <span class="material-symbols-outlined">start</span></a></li>
						<li><a type="dropdown-item" href="/gestione/modifica-decollo/modifica/{{ decollo["id"] }}" class="btn btn-outline-primary btn-sm mx-2" style="width: 8rem">Modifica <span class="material-symbols-outlined">edit</span></a></li>
						<li><a type="dropdown-item" href="/gestione/modifica-decollo/elimina/{{ decollo["id"] }}" class="btn btn-outline-danger btn-sm my-1 mx-2" style="width: 8rem">Elimina <span class="material-symbols-outlined">delete</span></a></li>
						</ul>
					</div>
				</div>

				<h5 class="card-title"><br><br>Decollo {{ decollo["num_decollo"] }}</h5>
				<div class="row">
				  <ul class="list-group list-group-flush">
					{% for tandem in decollo["tandem"] %}
					<li class="list-group-item">
						<ul class="list-group list-group-flush">
							<span class="badge bg-secondary">TANDEM</span>
							<li class="list-group-item list-group-item-secondary">{{ tandem["istruttore"][1] }}
							{% if tandem["video_polso"] %}
								<span class="badge bg-secondary">VIDEO</span>
							{% endif %}
							{% if tandem["video_ext"] == False %}
								{% if tandem["foto"] %}
									<span class="badge bg-secondary">FOTO</span>
								{% endif %}
							{% endif %}
							</li>
							<li class="list-group-item list-group-item-secondary">{{ tandem["passeggero"] }}</li>
							{% if tandem["video_ext"] %}
								<li class="list-group-item list-group-item-secondary">{{ tandem["videoman"][1] }}
								<span class="badge bg-secondary">VIDEO</span>
								{% if tandem["foto"] %}
									<span class="badge bg-secondary">FOTO</span>
								{% endif %}
								</li>
							{% endif %}
						</ul>
					</li>

					{% endfor %}
					{% for aff in decollo["aff"] %}
					<li class="list-group-item">
						<ul class="list-group list-group-flush">
							<span class="badge bg-secondary">AFF Liv.{{ aff["livello"] }}</span>
							<li class="list-group-item list-group-item-secondary">{{ aff["istruttore1"][1] }}</li>
							<li class="list-group-item list-group-item-secondary">{{ aff["allievo"] }}</li>
							{% if aff["livello"] == "1" or aff["livello"] == "2" or aff["livello"] == "3" %}
								<li class="list-group-item list-group-item-secondary">{{ aff["istruttore2"][1] }}</li>
							{% endif %}
						</ul>
					</li>
					{% endfor %}
					{% for skydiver in decollo["paracadutisti"] %}
						<li class="list-group-item">{{ skydiver["skydiver"][1] }}
							{% if skydiver["disciplina"] != "standard" %}
								<span class="badge bg-secondary">{{ skydiver["disciplina"] }}</span>
							{% endif %}
							{% if skydiver["noleggio"] %}
								<span class="badge bg-secondary">NOLEGGIO</span>
							{% endif %}
						</li>
					</li>
					{% endfor %}
				  </ul>
				</div>
				<div class="row">
				{% if decollo["rifornimento"] == "true" %}
					<span class="badge rounded-pill bg-secondary"><span class="material-symbols-outlined">local_gas_station</span></span>
				{% endif %}
				</div>
			  </div>
			  </div>
			{% else %}
			<div class="card border-dark mb-3 mx-2" style="width: 20rem;">
			  <div class="card-body">
				<div class="btn-group" role="group" aria-label="Button group">
					{% if decollo["num_decollo"] > 1 %}
					<a type="button" href="/gestione/modifica-decollo/anticipa/{{ decollo["id"] }}" class="btn btn-outline-primary btn-sm"><span class="material-symbols-outlined">arrow_back</span></a>
					{% endif %}
					{% if decollo["num_decollo"] != num_decolli %}
					<a type="button" href="/gestione/modifica-decollo/posticipa/{{ decollo["id"] }}" class="btn btn-outline-primary btn-sm"><span class="material-symbols-outlined">arrow_forward</span></a>
					{% endif %}
					<a type="button" href="/gestione/modifica-decollo/rifornimento/{{ decollo["id"] }}" class="btn btn-outline-warning btn-sm"><span class="material-symbols-outlined">local_gas_station</span></a>
					{% if decollo["stato"] == "prossimo" %}
					<a type="button" href="/gestione/modifica-decollo/decollo/{{ decollo["num_decollo"] }}" class="btn btn-outline-success btn-sm"><span class="material-symbols-outlined">flight_takeoff</span></a>
					{% endif %}
					<div class="btn-group" role="group">
						<a id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Avanzate
						</a>
						<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
						<li><a type="dropdown-item" href="/gestione/modifica-decollo/modifica/{{ decollo["id"] }}" class="btn btn-outline-primary btn-sm my-1 mx-2" style="width: 8rem">Modifica <span class="material-symbols-outlined">edit</span></a></li>
						<li><a type="dropdown-item" href="/gestione/modifica-decollo/elimina/{{ decollo["id"] }}" class="btn btn-outline-danger btn-sm mx-2" style="width: 8rem">Elimina <span class="material-symbols-outlined">delete</span></a></li>
						</ul>
					</div>
				</div>
				<h5 class="card-title"><br><br>Decollo {{ decollo["num_decollo"] }}</h5>
				<div class="row">
				  <ul class="list-group list-group-flush">
					{% for tandem in decollo["tandem"] %}
					<li class="list-group-item">
						<ul class="list-group list-group-flush">
							<span class="badge bg-primary">TANDEM</span>
							<li class="list-group-item list-group-item-primary">{{ tandem["istruttore"][1] }}
							{% if tandem["video_polso"] %}
								<span class="badge bg-primary">VIDEO</span>
							{% endif %}
							{% if tandem["video_ext"] == False %}
								{% if tandem["foto"] %}
									<span class="badge bg-primary">FOTO</span>
								{% endif %}
							{% endif %}
							</li>
							<li class="list-group-item list-group-item-primary">{{ tandem["passeggero"] }}</li>
							{% if tandem["video_ext"] %}
								<li class="list-group-item list-group-item-primary">{{ tandem["videoman"][1] }}
								<span class="badge bg-primary">VIDEO</span>
								{% if tandem["foto"] %}
									<span class="badge bg-primary">FOTO</span>
								{% endif %}
								</li>
							{% endif %}
						</ul>
					</li>
					{% endfor %}
					{% for aff in decollo["aff"] %}
					<li class="list-group-item">
						<ul class="list-group list-group-flush">
							<span class="badge bg-warning">AFF Liv.{{ aff["livello"] }}</span>
							<li class="list-group-item list-group-item-warning">{{ aff["istruttore1"][1] }}</li>
							<li class="list-group-item list-group-item-warning">{{ aff["allievo"] }}</li>
							{% if aff["livello"] == "1" or aff["livello"] == "2" or aff["livello"] == "3" %}
								<li class="list-group-item list-group-item-warning">{{ aff["istruttore2"][1] }}</li>
							{% endif %}
						</ul>
					</li>
					{% endfor %}
					{% for skydiver in decollo["paracadutisti"] %}
						<li class="list-group-item">{{ skydiver["skydiver"][1] }}
							{% if skydiver["disciplina"] != "standard" %}
								<span class="badge bg-primary">{{ skydiver["disciplina"] }}</span>
							{% endif %}
							{% if skydiver["noleggio"] %}
								<span class="badge bg-primary">NOLEGGIO</span>
							{% endif %}
						</li>
					{% endfor %}
				  </ul>
				  </div>
				<div class="row">
				{% if decollo["rifornimento"] == "true" %}
					<span class="badge rounded-pill bg-warning"><span class="material-symbols-outlined">local_gas_station</span></span>
				{% endif %}
				</div>
			  </div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>

{% endblock %}
